.top{
    background-color: #1f2937;
}
.top .header{
    display:flex;
    padding: 9px;
}
.Logo{
    color:#F9FAF8;
    font-size: 24px;
    padding: 0px 1000px 0px 60px 
}
.header ul{
    display: flex;
    justify-content:space-around;
    gap: 50px;
    margin:0;
    padding:0;
    list-style: none;
}
li{
    color:#e5e7eb;
    font-size: 18px;
}
img{
    width:400px;
    height:auto;
}
body{
    margin:0;
}
.container1{
    display:flex
}
.left{
max-width: 600px;
padding: 20px 40px 90px 500px;
}
