.top{
    background-color: #1f2937;
}
.top .header{
    display:flex;
    padding: 9px;
}
.Logo{
    color:#F9FAF8;
    font-size: 24px;
    padding: 0px 3000px 0px 60px 
}
.header ul{
    display: flex;
    justify-content:space-around;
    gap: 50px;
}
ul{
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
}
li{
    color:#e5e7eb;
    font-size: 18px;
}
img{
    width:200px;
    height:auto;
}
body{
    margin:0;
}
