.top{
    background-color: #e5e5e5;
}
.top .header{
    height:400px;
    border:#e5e7eb;
}
#headerLogo{
    font: 24 px, #F9FAF8;
    width: 500px;
}
.top .header .h2{
    flex-wrap:wrap;
    font: 18px, #e5e7eb;
    width:100px;
    justify-content:space-around;
}
