.top{
    background-color: #1f2937;
}
.top .header{
    display:flex;
    height:30px;
}
#headerLogo{
    color:#F9FAF8;
    font-size: 24px;
    width: 200px;
}
.header ul{
    display: flex;
    justify-content:space-around;
}
ul{
    color:#e5e7eb;
    font-size: 18px;
}
